@import url(http://fonts.googleapis.com/css?family=Montserrat:400, 700);
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
*{
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

header {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bck.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	margin-right: 10px;
	border: 1px solid #fff0;
	border-radius: 50px;
	transition: 0.6s ease;
}

ul li a:hover {
	background-color: #fff;
	color: #000;
}

ul li.active a {
	background-color: #fff;
	color: #000;
}

ul li.new a:hover {
	background-color: #ff0;
	color: #000;
}

.logo img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	width: 200px;
}

.topnav {
	position: absolute;
	top: 67%;
	left: 51%;
	transform: translate(-50%, -50%);
	height: auto;
	width: 200px;
	padding: 6px;
}

.media img{
	float: left;
	height: auto;
	width: 120px;
	position: absolute;
	top: 93%;
	left: 4%;
	transform: translate(-50%, -50%);
}

.main {
	max-width: auto;
	margin: auto;
}

html {
	scroll-behavior: smooth;
}
